{% extends "base_site1.html" %}

{% block content %}

<div class="container pl-lg-5 mt-4 mt-lg-0 mb-2">
    <div class="col page-title " style="padding-top: 50px; padding-bottom: 5px;">
        <div class="row align-items-center" align="center">
            <div class="col">
                <h1 class="font-weight-bold" style="color:#252766; text-align: left">My Profile</h1>
            </div>
            <div class="col justify-content-end d-none d-lg-block">
                <h6 class="font-weight-bold" style="color:#252766; text-align: end">
                    <img src="/static/assets/img/theme/profile.png" class="profile-pic-dashboard" height="50">
                    &nbsp;
                    {{session['name']}} &nbsp; <br>
                    <span class="badge badge-secondary" style="background-color:#252766">Admin</span>
                </h6>
            </div>
        </div>
    </div>
</div>

<div class="container mb-lg-3 mt-lg-2 pl-lg-5 d-block d-lg-none">
    <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="options" onclick="location.href='{{ url_for('home')}}'" style="cursor: pointer">
                <div>
                    <img src="/static/assets2/img/tasks.jpg" class="options-img" />
                </div>
                <div class="options-title p-2"><i style="font-size: xx-large" class="fa fa-home"
                        aria-hidden="true"></i><br>
                    Dashboard
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="options" onclick="location.href='{{ url_for('logout')}}';" style="cursor: pointer">
                <div>
                    <img src="/static/assets2/img/logout.jpeg" class="options-img" />
                </div>
                <div class="options-title p-2"><i style="font-size: xx-large" class="fa fa-sign-out"
                        aria-hidden="true"></i><br>
                    Logout
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-0 pl-lg-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-12 px-lg-3 order-lg-2 order-2">

            <div class="card-custom mt-2 mt-lg-0 help-card">
                <div class="row justify-content-between align-items-center">
                    <div class="col">
                        <h5 class="my-3" style="">Basic Details
                        </h5>
                    </div>

                </div>
                <div class="form-group mb-3 ">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" value="{{ session['name'] }}" aria-label="Username"
                        aria-describedby="basic-addon1" disabled>
                </div>
                <div class="form-group mb-3 ">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" placeholder="{{ session['username'] }}"
                        aria-label="Username" aria-describedby="basic-addon1" disabled>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}